
/* ----------> Isi Data Diri Page Style Here <----------*/

.cont-form {
    width: 100%;
    margin-top: 100px;
    padding-bottom: 00px;
}

.bg-img {
    background-image: url('../assets/page1/bg_blank.png');
    background-size: cover;
    min-height: 1000px;
}

/* .logo {
    margin-top: 100px;
} */

.form-name {
    color: white;
}

.button-selesai {
    width: 100%;
    margin-bottom: 50px;
}